@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Raleway:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
min-height: 100vh;
}

body {
  font-family: "Raleway", sans-serif;
  color: #fff;
}

div{
  overflow-x: hidden;
}

.animationBgDay {
  background: linear-gradient(0deg, rgba(33, 119, 248, 0.63), rgba(53, 66, 253, 0.7), rgba(255, 255, 255, 0.603));
  animation: gradientAnimationDay 15s linear infinite;
}

.animationBgNight {
  background: linear-gradient(0deg, rgba(3, 0, 194, 0.63), rgba(129, 58, 0, 0.7), rgba(95, 0, 158, 0.664), rgba(24, 0, 41, 0.664));
  animation: gradientAnimationNight 15s linear infinite;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@keyframes gradientAnimationDay {
  0% {
    background-color: rgb(255, 243, 132);
  }

  25% {
    background-color: #87d1f3;
  }

  50% {
    background-color: #39d9e4;
  }

  100% {
    background-color: rgb(255, 243, 132);
  }
}


@keyframes gradientAnimationNight {
  0% {
    background-color: rgb(1, 6, 37);
  }

  25% {
    background-color: #6303d1;
  }

  50% {
    background-color: #014fb6;
  }

  100% {
    background-color: rgb(1, 6, 37);
  }
}

h1{
  font-family: "Russo One", sans-serif;
}

.sunIconContainer{
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,235,186,0.7063025893951331) 10%, rgba(0,212,255,0) 70%); 
}

.bg-blur{
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-color: #ffffff15;
  box-shadow: inset 0px 0px 20px #fff;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.fadeInAnimation{
  animation: fadeIn 1s forwards;
}


.bg-semitransparent{
  background-color: #ffffff25;
}